* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* body {
  font-family: "Ubuntu", sans-serif;
}
* .container {
  max-width: 1230px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.navigation-list {
  display: flex;
}
.navigation-list-item {
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  list-style: none;
}
.navigation-list-item .navigation-link {
  color: #424551;
  text-decoration: none;
  margin-right: 40px;
  cursor: pointer;
}
.navigation .navigation-link.active {
  color: #FF5A30;
}

.contact {
  display: flex;
}

.call-us, .talk-to-us {
  display: flex;
  align-items: center;
  margin-right: 36px;
}

.call-us img, .talk-to-us img {
  width: 40px;
  height: 40px;
  margin-right: 12px;
}

.contact-text {
  display: flex;
  flex-direction: column;
}

.call-us span, .talk-to-us span {
  display: block;
  color: #424551;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.call-us span .contacts-info, .talk-to-us span .contacts-info {
  color: #1E212C;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.hero {
  background-image: linear-gradient(0deg, rgba(30, 33, 44, 0.6) 0%, rgba(30, 33, 44, 0.6) 100%), url("../img/hero-bg.jpg");
  width: 100%;
  min-height: 988px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 120px;
}
.hero .hero-wrapper {
  text-align: left;
  padding-top: 220px;
}
.hero-title, .hero-text {
  font-family: "Ubuntu", sans-serif;
  color: #FFF;
}
.hero-title {
  width: 577px;
  height: 188px;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  margin: 0 0 24px 0;
}
.hero-text {
  width: 595px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 61px;
}
.hero .hero-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 179px;
}
.hero .hero-buttons .hero-button-about {
  padding: 10px 40px;
  border-radius: 4px;
  border: 1px solid #FFF;
  margin-right: 24px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: none;
  cursor: pointer;
}
.hero .hero-buttons .hero-button-submit {
  padding: 10px 40px;
  color: #FFF;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 4px;
  background: #FF5A30;
  border: none;
  cursor: pointer;
}

.tabs {
  display: flex;
}
.tabs .tab {
  width: 178px;
  height: 54px;
  cursor: pointer;
  margin: 0 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: #FFF;
}
.tabs .tab::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #FFF;
  bottom: 0;
  opacity: 0.3;
  transition: opacity 0.3s;
}
.tabs .tab.active::before {
  opacity: 1;
}

.primary-x {
  color: #FF5A30;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.button-next, .button-prev {
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  top: 50%;
  background-color: transparent;
  opacity: 0.5;
}

.button-next {
  background-image: url("../img/arrow-next.svg");
  background-repeat: no-repeat;
  background-position: center;
  right: 32px;
  z-index: 99;
}

.button-prev {
  background-image: url("../img/arrow-prev.svg");
  background-repeat: no-repeat;
  background-position: center;
  left: 32px;
  z-index: 99;
}

.button-next:hover, .button-prev:hover {
  opacity: 1;
}

.button-next:active, .button-prev:active {
  opacity: 1;
}

.video-block {
  position: relative;
  margin-bottom: 180px;
}
.video-block .video-content {
  max-width: 810px;
  margin: 0 auto;
}
.video-block .video-content-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
}
.video-block .video-content-text {
  color: #424551;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 60px;
}
.video-block .video-preview {
  position: relative;
  width: 100%;
  height: 500px;
}
.video-block .video-preview-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 4px;
  position: relative;
}
.video-block .video-preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1E212C;
  opacity: 0.7;
  border-radius: 4px;
  z-index: 1;
}
.video-block .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 2;
}
.video-block .play-button-image {
  width: 80px;
  height: 80px;
}
.video-block .sound-icon {
  position: absolute;
  cursor: pointer;
}
.video-block .sound-icon-image {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 32px;
  left: 32px;
  z-index: 2;
}

.values-block {
  text-align: center;
  margin-bottom: 168px;
}

.values-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
}

.values-text {
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 60px;
}

.values-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icon-block {
  width: 285px;
  height: 188px;
}

.icon-block:not(:last-child)::before {
  content: "";
  width: 1px;
  height: 188px;
  display: block;
  position: absolute;
  bottom: 0;
  background: linear-gradient(270deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
}

.icon-block:not(:first-child)::before {
  left: 30%;
}

.icon-block:not(:last-child)::before {
  right: 30%;
}

.icon-image {
  margin-bottom: 24px;
}

.icon-title {
  margin-bottom: 8px;
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.icon-text {
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.contact-block {
  text-align: center;
  padding: 48px 60px;
  position: relative;
  z-index: 2;
  margin-bottom: 120px;
  background-color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.contact-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 32px;
}

.contact-form {
  display: flex;
  align-items: flex-end;
}

.form-row {
  text-align: left;
}

label {
  display: inline-block;
  margin-bottom: 8px;
}

input, textarea {
  padding: 11px 16px;
  border-radius: 4px;
  border: 1px solid #D7DADD;
  background: #F4F5F6;
  box-sizing: border-box;
  height: 44px;
}

#message {
  width: 414px;
  padding: 11px 16px;
  resize: none;
}

button {
  padding: 0px 32px;
  background-color: #FF5A30;
  cursor: pointer;
  border: 0;
  color: #FFF;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  border-radius: 4px;
}

.services-block {
  position: relative;
  margin-bottom: 220px;
}
.services-block-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 880px;
  overflow: hidden;
  opacity: 0.2;
  z-index: -1;
  margin-top: -216px;
}
.services-block-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container,
.section-header,
.card-container {
  text-align: center;
  position: relative;
  z-index: 2;
}

.section-header {
  margin-bottom: 60px;
}

.services-block-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
}

.service-block-text {
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.card-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 85px;
}

.card {
  position: relative;
  width: 285px;
  height: 285px;
  text-align: center;
  padding: 90px 0;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}
.card:hover::before {
  opacity: 1;
}
.card:nth-child(1)::before {
  background-image: url("../img/interior.jpg");
}
.card:nth-child(2)::before {
  background-image: url("../img/interior.jpg");
}
.card:nth-child(3)::before {
  background-image: url("../img/interior.jpg");
}
.card:nth-child(4)::before {
  background-image: url("../img/interior.jpg");
}
.card .card-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
}
.card .card-icon {
  fill: #FF5A30;
  margin-bottom: 24px;
  z-index: 2;
}
.card-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  white-space: nowrap;
  z-index: 1;
}

.more {
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-title {
  margin-right: 40px;
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.card:hover .card-icon {
  fill: #FFF;
}

.card:hover .card-title {
  color: #FFF;
}

.card-icon,
.card-title {
  position: relative;
  z-index: 5;
}

.card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1E212C;
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.card:hover::after {
  opacity: 0.6;
}

.portfolio {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  overflow: hidden;
}
.portfolio-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}
.portfolio-top-title {
  max-width: 705px;
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}
.portfolio-bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.folio-card {
  position: relative;
  height: 440px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}
.folio-card:hover {
  transform: scale(1.1);
}
.folio-card:hover .hover-button {
  display: block;
}
.folio-card-content {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #FFF;
  padding: 16px 20px 24px;
}
.folio-card img {
  border-radius: 4px;
}

.folio-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 4px;
}

.folio-text {
  color: #787A80;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 24px;
}

.hover-button {
  margin: auto;
  padding: 0px 32px;
  border-radius: 4px;
  border: 1px solid #FF5A30;
  background-color: #FFF;
  color: #FF5A30;
  display: none;
}

.swiper-buttons {
  display: flex;
  gap: 35px;
}

.portfolio-button-prev,
.portfolio-button-next {
  width: 18px;
  height: 12px;
  position: relative;
}

.portfolio-button-prev::before,
.portfolio-button-next::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.portfolio-button-prev svg,
.portfolio-button-next svg {
  width: 100%;
  height: 100%;
  transition: fill 0.3s;
}

.portfolio-button-prev:hover::before,
.portfolio-button-next:hover::before {
  background-color: #FF5A30;
}

.portfolio-button-prev:hover svg,
.portfolio-button-next:hover svg {
  fill: white;
}

.testimonials {
  width: 100%;
  background: #F4F5F6;
  margin-bottom: 180px;
}

.testimonials-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  padding-top: 80px;
  margin-bottom: 32px;
}

.testimonials-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 152px;
}

.testimonials-desc {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.testimonials-right {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-right: 135px;
}
.testimonials-right-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.testimonials-carousel {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 249px;
  position: relative;
  z-index: 1;
}

.profile-image {
  width: 72px;
  height: 72px;
  border-radius: 72px;
  margin-bottom: 24px;
}

.profile-text {
  width: 600px;
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 24px;
}

.profile-name {
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 4px;
}

.profile-co {
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.testimonials-left {
  position: relative;
  bottom: -50px;
  width: 100%;
  height: 100%;
}
.testimonials-left-image {
  border-radius: 4px;
}

.testimonials-slider {
  width: 600px;
  height: 249px;
  overflow: hidden;
}

.testimonials-swiper-buttons {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.testimonials-button-prev,
.testimonials-button-next {
  width: 24px;
  height: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.testimonials-button-prev {
  margin-right: 24px;
}
.testimonials-button-prev .testimonials-button-prev img,
.testimonials-button-prev .testimonials-button-next img {
  width: 100%;
  height: 100%;
}

.figure-block {
  position: relative;
}

.figure-bg {
  position: absolute;
  top: -550px;
  z-index: -1;
}

.figure-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.circles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 180px;
}
.circles-progress-image {
  margin-bottom: 20px;
}

.circle-progress-text {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.news-block {
  margin-bottom: 80px;
}

.news-block-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.news-block-cards {
  display: flex;
  height: 540px;
}

.news-right {
  width: 705px;
  height: 540px;
  margin-right: 30px;
}

.news-card-active {
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.news-image {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.news-text {
  text-align: left;
  padding: 24px;
}

.news-subtitle {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 12px;
  cursor: pointer;
}

.news-details {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.news-category, .news-date, .news-comments-count {
  display: inline-block;
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.news-comments {
  display: flex;
}

.comment-icon {
  margin-right: 8px;
}

.news-description {
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.news-category:after,
.news-date:after {
  content: "";
  width: 1px;
  height: 12px;
  background: #787A80;
  display: inline-block;
  vertical-align: middle;
  margin: 0 12px;
}

.news-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.news-card-small {
  min-height: 255px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 80px 80px -20px rgba(154, 156, 165, 0.16);
}

.news-text-small {
  text-align: left;
  padding: 16px 24px 24px;
}

.news-subtitle:hover {
  color: #FF5A30;
}

.news-more {
  margin-bottom: 120px;
}

.application {
  background: url("../img/application-bg.jpg") no-repeat center/cover;
  width: 100%;
  padding: 80px 0;
}

.application-form-container {
  display: flex;
  width: 495px;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.05), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 60px 80px -20px rgba(30, 33, 44, 0.16);
  padding: 48px 40px;
  margin-left: auto;
}

.application-contact-form {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}

.application-input {
  padding: 11px 180px 12px 16px;
  margin-bottom: 20px;
}

.message {
  height: 66px;
}

.form-checkbox {
  display: flex;
  align-items: center;
}

.label-checkbox {
  display: block;
  text-align: left;
}

.submit-button {
  margin-top: 20px;
  align-self: center;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #FF5A30;
  margin-right: 12px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
  border-color: #FF5A30;
  background-image: url("../img/check.svg");
  background-color: #FF5A30;
}

.footer {
  background: #1E212C;
  padding: 80px 0;
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
}

.footer-header {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.logo-footer-image {
  margin-right: 60px;
}

.footer-right-text {
  width: 493px;
  text-align: left;
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;
}

.footer-link:not(:last-child) {
  margin-right: 16px;
}

.footer-top-left {
  width: 495px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-left-title {
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}

.footer-left-form {
  position: relative;
}

.footer-input-left {
  padding: 11px 100px 12px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.12);
  margin-bottom: 16px;
}

.footer-button-left {
  position: absolute;
  top: 0;
  right: 45px;
}

.footer-left-text {
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;
}

.footer-mid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}

.footer-mid-block {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer-mid-title {
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 13px;
}

.footer-mid-list {
  list-style-type: none;
}

.footer-list-item {
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}

.footer-mid-list .strong {
  opacity: 1;
  margin-right: 4px;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom-right {
  display: flex;
  align-items: center;
}

.footer-copy-right {
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  position: relative;
  margin-right: 24px;
}

.footer-copy-right:after {
  content: "";
  background-image: url("../img/heart.svg");
  width: 16px;
  height: 16px;
  background-size: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;
}

.footer-by {
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.footer-bottom-left {
  display: flex;
  align-items: end;
}

.up {
  color: #FFF;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-right: 16px;
}

.up-btn {
  padding: 8px;
  border-radius: 4px;
  background-color: #FF5A30;
}

.services-page-hero {
  background: #F4F5F6;
  position: relative;
}

.services-page-block {
  padding: 80px 0 180px;
  background: #F4F5F6;
}

.services-bg-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.breadcrumb {
  margin-bottom: 40px;
}
.breadcrumb-list {
  display: flex;
  align-items: center;
}
.breadcrumb-list__item {
  list-style-type: none;
}
.breadcrumb-list__link {
  text-decoration: none;
  color: #9A9CA5;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.breadcrumb-list__link.gray-bold {
  color: #424551;
}

.breadcrumb-list__link.gray-bold:after {
  content: "/";
  margin: 0 8px;
}

.services-description {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.services-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.services-text {
  width: 600px;
  text-align: left;
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.services-page-items {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 120px 0;
}

.service-page-item {
  display: flex;
  align-items: center;
  gap: 80px;
}

.service-page-item:nth-child(even) img {
  order: 1;
}

.service-page-img {
  width: 575px;
  height: 420px;
  border-radius: 4px;
}

.service-item-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service-item-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}

.service-item-text {
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
  margin-bottom: 48px;
}

.service-item-btn {
  border-radius: 4px;
  border: 1px solid #FF5A30;
  text-decoration: none;
  color: #FF5A30;
  text-align: center;
  font-family: Ubuntu;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 0 32px;
}

.interior-page-hero {
  background: #F4F5F6;
  position: relative;
}

.interior-page-block {
  padding: 80px 0 180px;
  background: #F4F5F6;
}

.interior-bg-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.breadcrumb {
  margin-bottom: 40px;
}
.breadcrumb-list {
  display: flex;
  align-items: center;
}
.breadcrumb-list__item {
  list-style-type: none;
}
.breadcrumb-list__link {
  text-decoration: none;
  color: #9A9CA5;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.breadcrumb-list__link.gray-bold {
  color: #424551;
}

.breadcrumb-list__link.gray-bold:after {
  content: "/";
  margin: 0 8px;
}

.interior-description {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.interior-title {
  width: 600px;
  text-align: left;
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.interior-text {
  width: 600px;
  text-align: left;
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.we-offer-block {
  display: flex;
  justify-content: space-between;
  padding: 120px 0 180px 0;
}

.we-offer-image-block {
  margin-right: 105px;
}

.we-offer-img {
  border-radius: 4px;
}

.we-offer-title {
  color: #1E212C;
  font-family: "Lato", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
  margin-bottom: 60px;
}

.we-offer-text-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.offer-text {
  display: flex;
  position: relative;
}

.offer-title {
  width: 376px;
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: left;
  margin-bottom: 12px;
}

.toggle-button {
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
}

.offer-desc-text-1, .offer-desc-text-2 {
  width: 376px;
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
  margin-bottom: 24px;
  opacity: 1;
  max-height: 200px;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.offer-desc-text-2 {
  position: absolute;
}

.hidden {
  display: none;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.steps-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
  text-align: left;
}

.steps-item {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-bottom: 120px;
}

.step-item {
  position: relative;
  cursor: pointer;
}
.step-item-img {
  margin-bottom: 16px;
  fill: #D7DADD;
}
.step-item:hover .step-item-img {
  fill: #FF5A30;
  filter: brightness(1.5) saturate(2);
  transition: fill 0.3s ease;
}
.step-item::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -30px;
  width: 116px;
  height: 116px;
  border-radius: 50%;
  background-image: url("../img/bg-circles.png");
  background-size: cover;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.step-item:hover::before {
  opacity: 1;
}

.line {
  position: relative;
  top: -30px;
  right: -23px;
}

.step-item-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
}

.step-item-text {
  width: 285px;
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.benefits-block {
  background: #1E212C;
  padding: 80px 0 100px 0;
  margin-bottom: 154px;
}

.benefits-title {
  color: #FFF;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
}

.benefits-text {
  color: #FFF;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  opacity: 0.6;
  margin-bottom: 60px;
}

.benefits-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.benefits-item {
  position: relative;
}
.benefits-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -94px;
  transform: translateY(-50%);
  width: 1px;
  height: 188px;
  opacity: 0.4;
  background: linear-gradient(rgba(218, 219, 221, 0), rgba(218, 219, 221, 0.5), #DADBDD, rgba(218, 219, 221, 0.5), rgba(218, 219, 221, 0));
}

.benefits-icon {
  margin-bottom: 24px;
}

.benefits-item-title {
  color: #FFF;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 8px;
}

.benefits-item-text {
  width: 285px;
  color: #FFF;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  opacity: 0.6;
}

.benefits-button {
  border-radius: 4px;
  background: #FF5A30;
  color: #FFF;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 112px;
  position: relative;
  bottom: -125px;
  cursor: pointer;
}

.portfolio-int-block {
  width: 100%;
  background-color: #fff;
  padding-bottom: 100px;
}

.portfolio__int {
  margin: 0;
}

.pricing-block {
  position: relative;
  height: 1418px;
}

.figure-bg {
  position: absolute;
  top: -550px;
  z-index: -1;
}

.pricing-content {
  padding: 80px 0 92px;
}

.pricing-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
}

.pricing-text {
  color: #787A80;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 60px;
}

.pricing-table {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  margin-bottom: 120px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-center;
  padding: 32px 0 24px 24px;
}

.col-desc {
  width: 245px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.items-col {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-right: 370px;
}

.col-strong {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.col-light {
  color: #787A80;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.table-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 150px 24px 24px;
}

.row__dark {
  background: #F4F5F6;
}

.mark-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.row-desc {
  width: 280px;
  text-align: left;
}

.row-desc-title {
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.mark__days {
  width: 55px;
}

.table-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 32px 71px 24px 24px;
}

.items-col-footer {
  margin-right: 300px;
}

.table-button {
  padding: 0px 24px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #FF5A30;
  color: #FF5A30;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.testimonials__pricing {
  margin-bottom: 84px;
}

.testimonials__pricing__title {
  padding: 0;
}

.work-page-hero {
  position: relative;
  background: #F4F5F6;
}

.work-page-block {
  padding: 80px 0 180px;
}

.work-bg-image {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
}

.work-description {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.work-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.work-text {
  width: 600px;
  text-align: left;
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.work-tabs-block {
  width: 100%;
  height: 154px;
  position: relative;
}

.work-card-container {
  display: flex;
  position: absolute;
  bottom: -95px;
  gap: 20px;
}

.work-card {
  width: 230px;
  padding: 30px;
  text-align: center;
  border-radius: 4px;
  background-color: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  z-index: 1;
}

.card-link {
  text-decoration: none;
}

.card-icon {
  fill: #FF5A30;
  margin-bottom: 24px;
  z-index: 2;
}

.card-title {
  font-family: "Ubuntu", sans-serif;
  color: #9A9CA5;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.work-card:hover {
  background-color: #FF5A30;
}

.work-card:hover .card-icon {
  fill: #FFF;
}

.work-card:hover .card-title {
  color: #FFF;
}

.work-portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
  gap: 30px;
  padding: 215px 0 186px;
}

.load-more {
  position: absolute;
  bottom: 100px;
  right: 50%;
}

.load-more-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.load-more-img {
  margin-right: 16px;
}

.work__testimonials {
  padding-top: 80px;
}

.hover-button__link {
  width: 172px;
  height: 44px;
  margin: auto;
  padding: 0px 32px;
  border-radius: 4px;
  border: 1px solid #FF5A30;
  background-color: #FFF;
  display: none;
  text-decoration: none;
  color: #FF5A30;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  overflow: hidden;
  white-space: nowrap;
}

.cottage-bg-image {
  width: 854px;
  height: 822px;
  position: absolute;
  opacity: 0.12;
  top: 48px;
  right: -13%;
}

.cottage-page-hero {
  height: 1506px;
}

.cottage-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 1px;
  text-align: left;
  margin-bottom: 60px;
}

.cottage-swiper {
  width: 1230px;
  height: 500px;
  overflow: hidden;
  border-radius: 4px;
}

.cottage-button__prev, .cottage-button__next {
  top: 60%;
}

.cottage-tabs {
  position: absolute;
  bottom: -150px;
  left: 0;
  display: flex;
  overflow: hidden;
}

.cottage-tab {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.3s ease;
  border-radius: 4px;
  background: url("../img/cottage-img-slide-1.jpg") center/cover no-repeat, lightgray;
}
.cottage-tab.active {
  opacity: 1;
}

.about-cottage {
  position: relative;
  padding: 100px 0;
  bottom: -200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-goal {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.project-goal-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 40px;
}

.project-goal-text {
  width: 600px;
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.project-goal-text:not(:last-child) {
  margin-bottom: 30px;
}

.project-goal-info {
  display: flex;
  flex-direction: column;
  padding: 40px 60px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.goal-info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.goal-info-item:not(:last-child) {
  margin-bottom: 16px;
}

.info-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-right: 32px;
}

.goal-info-text {
  width: 245px;
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
}

.constructive-block {
  background: #F4F5F6;
  display: flex;
  justify-content: center;
  height: 570px;
  padding-top: 80px;
  margin-bottom: 180px;
}

.constructive-img {
  border-radius: 4px;
  margin-right: 133px;
}

.constructive-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.bulleted-line {
  display: flex;
  align-items: center;
}

.bulleted-line:not(:last-child) {
  margin-bottom: 20px;
}

.checked-img {
  margin-right: 16px;
}

.bullet-text {
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.about-page-hero {
  background: #F4F5F6;
  position: relative;
}

.about-page-block {
  padding: 80px 0 180px;
  background: #F4F5F6;
}

.about-bg-image {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.breadcrumb {
  margin-bottom: 40px;
}
.breadcrumb-list {
  display: flex;
  align-items: center;
}
.breadcrumb-list__item {
  list-style-type: none;
}
.breadcrumb-list__link {
  text-decoration: none;
  color: #9A9CA5;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.breadcrumb-list__link.gray-bold {
  color: #424551;
}

.breadcrumb-list__link.gray-bold:after {
  content: "/";
  margin: 0 8px;
}

.about-description {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.about-title {
  width: 600px;
  text-align: left;
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 1px;
  margin-bottom: 24px;
}

.about-text {
  width: 600px;
  text-align: left;
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.about-desc-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.statistics {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 0;
}

.statistic-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.statistic-img {
  width: 48px;
  height: 48px;
  margin-bottom: 20px;
}

.statistic-title {
  color: #FF5A30;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 8px;
}

.statistic-text {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 240px;
}

.ceo-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1230px;
  height: 700px;
  position: relative;
  margin-bottom: 120px;
}

.ceo-img {
  border-radius: 4px;
  z-index: -1;
  position: absolute;
  left: 0;
  top: 120px;
}

.ceo-quotation {
  width: 735px;
  height: 570px;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  padding: 80px 105px 80px 135px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
}

.ceo-desc {
  display: flex;
  align-items: center;
}

.ceo-position {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-right: 144px;
}

.ceo-text {
  width: 495px;
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 60px;
}

.ceo-text:before {
  content: "";
  width: 28px;
  height: 20px;
  display: block;
  position: absolute;
  top: 80px;
  left: 77px;
  background-image: url(../img/braces.svg);
}

.ceo-name {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 4px;
}

.ceo-job-title {
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.ceo-signature {
  width: 100px;
  height: 68px;
}

.about-desc-bg {
  position: absolute;
  bottom: -350px;
  right: 0;
  z-index: -2;
}

.about-history {
  background: #F4F5F6;
  padding: 80px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.history-block {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 100px;
}

.history-block-title {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.history-desc {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time-line-block {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  margin-right: 171px;
  position: relative;
}

.time-line-block:before {
  content: "";
  width: 1px;
  height: 538px;
  opacity: 0.5;
  background: #9A9CA5;
  position: absolute;
  left: 7px;
}

.date {
  color: #9A9CA5;
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: relative;
}

.date.active {
  color: #FF5A30;
}

.date:before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #787A80;
  margin-right: 17px;
  position: relative;
  bottom: 5px;
  border-radius: 50%;
  border: 4px solid #F4F5F6;
}

.date.active:before {
  content: "";
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #FF5A30;
  margin-right: 17px;
  position: relative;
  bottom: 5px;
  border-radius: 50%;
}

.swiper-buttons {
  display: flex;
  gap: 35px;
  margin-bottom: 48px;
}

.history-slider {
  width: 810px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
}

.history-button-prev,
.history-button-next {
  width: 18px;
  height: 12px;
  position: relative;
}

.history-button-prev::before,
.history-button-next::before {
  content: "";
  position: absolute;
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.3s;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.history-button-prev svg,
.history-button-next svg {
  width: 100%;
  height: 100%;
  transition: fill 0.3s;
}

.history-button-prev:hover::before,
.history-button-next:hover::before {
  background-color: #FF5A30;
}

.history-button-prev:hover svg,
.history-button-next:hover svg {
  fill: white;
}

.history-slide-img {
  border-radius: 4px;
  margin-bottom: 36px;
}

.history-slide-text {
  width: 810px;
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.testimonials-icons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.testimonial.icon {
  max-width: 100%;
  max-height: 100px;
  height: auto;
}

.team-block-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.team-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 24px;
}

.team-text {
  color: #787A80;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 60px;
}

.team-block-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  max-width: 1230px;
  margin-bottom: 80px;
}

.team-block-item {
  text-align: center;
  position: relative;
}

.team-block-item:before {
  content: "";
  width: 285px;
  height: 60px;
  display: none;
  position: absolute;
  bottom: 79px;
  border-radius: 0px 0px 4px 4px;
  opacity: 0.7;
  background: #FF5A30 url("../img/socials.png") center no-repeat;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.team-block-item:hover:before {
  display: block;
  opacity: 0.7;
  transform: translateY(0);
}

.team-item-img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 16px;
}

.team-item-title {
  color: #424551;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 4px;
}

.team-item-desc {
  color: #787A80;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.position-block {
  display: flex;
  align-items: center;
  margin-bottom: 120px;
}

.position-text {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.position-link {
  color: #FF5A30;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  text-decoration-line: underline;
}

.map-block {
  background-color: #F4F5F6;
  padding: 80px 0 120px;
}

.map-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.map-title {
  color: #1E212C;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 60px;
}

.positions {
  position: relative;
}

.positions-bg-image {
  position: absolute;
  right: 0;
  bottom: -2px;
}

.vacancies {
  padding: 121px 0 180px;
}

.vacancies-container {
  display: flex;
  justify-content: center;
  margin-bottom: 180px;
}

.vacancy-card-block {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 135px;
}

.vacancy-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  padding: 33px 40px;
}

.vacancy-card:not(:last-child) {
  margin-bottom: 24px;
}

.vacancy-card:hover {
  border-radius: 4px;
  border: 1px solid #E5E8ED;
  background: #FFF;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
}

.vacancy {
  width: 434px;
}

.vacancy-meta {
  display: flex;
  align-items: center;
}

.location,
.type {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #787A80;
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 8px;
}

.location:after {
  content: "";
  width: 1px;
  height: 12px;
  background: #787A80;
  margin: 0 12px 0 7px;
}

.vacancy-position {
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.vacancy-button {
  color: #FF5A30;
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #FF5A30;
}

.vacancy-button:hover {
  color: #FFF;
  background-color: #FF5A30;
}

.cta-title {
  width: 380px;
  color: #1E212C;
  font-family: "Ubuntu", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 24px;
}

.cta-text {
  color: #424551;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 390px;
  margin-bottom: 48px;
}

.cta-btn-sub {
  color: #FF5A30;
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #FF5A30;
  margin-right: 30px;
}/*# sourceMappingURL=style.css.map */