.about-desc-block
  display: flex
  align-items: center
  justify-content: center
.statistics
  display: flex
  align-items: center
  justify-content: space-between
  padding: 120px 0
.statistic-item
  display: flex
  align-items: center
  flex-direction: column
.statistic-img
  width: 48px
  height: 48px
  margin-bottom: 20px
.statistic-title
  color: $primary
  text-align: center
  font-family: $ubuntu
  font-size: 46px
  font-style: normal
  font-weight: 700
  line-height: 130%
  margin-bottom: 8px
.statistic-text
  color: $darkgray
  text-align: center
  font-family: $ubuntu
  font-size: 14px
  font-style: normal
  font-weight: 400
  line-height: 150%
  width: 240px
