.cottage-bg-image
  width: 854px
  height: 822px
  position: absolute
  opacity: 0.12
  top: 48px
  right: -13%

.cottage-page-hero
  height: 1506px

.cottage-title
  color: $darkgray
  font-family: $ubuntu
  font-size: 64px
  font-style: normal
  font-weight: 700
  line-height: 120%
  letter-spacing: 1px
  text-align: left
  margin-bottom: 60px

.cottage-swiper
  width: 1230px
  height: 500px
  overflow: hidden
  border-radius: 4px

.cottage-button__prev,.cottage-button__next
  top: 60%

.tabs
  position: absolute
  bottom: -150px
  left: 0
  display: flex
  overflow: hidden

.cottage-tab
  width: 100px
  height: 100px
  margin-right: 20px
  opacity: 0.6
  cursor: pointer
  transition: opacity 0.3s ease
  border-radius: 4px
  background: url('../img/cottage-img-slide-1.jpg') center / cover no-repeat, lightgray

  &.active
    opacity: 1
