.offices-block
  padding: 80px 0 95px

.offices-values
  margin-bottom: 120px
  text-align: left

.office-value
  width: 250px
  min-height: 254px

.office-value:not(:last-child)::before
  content: ""
  width: 1px
  height: 254px
  display: block
  position: absolute
  bottom: 0
  background: linear-gradient(270deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%)

.offices-text
  color: $darkgray
  font-family: $ubuntu
  font-size: 16px
  font-weight: 400
  line-height: 160%
  margin-bottom: 4px

.offices-link
  color: $primary
  font-family: $ubuntu
  font-size: 16px
  font-weight: 400
  line-height: 160%
  text-align: left
  margin-bottom: 20px
  display: inline-block

.office-contact:not(:last-child)
  margin-bottom: 4px

.office-call,.office-email,.office-shelude
  color: $lightgray-700
  font-family: $ubuntu
  font-size: 16px
  font-weight: 400
  line-height: 160%
  margin-right: 4px
  text-align: left

.follow
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

.follow-title
  color: $darkgray
  font-family: $ubuntu
  font-size: 46px
  font-weight: 700
  line-height: 130%
  text-align: left
  margin-bottom: 40px

.follow-social-links
  display: flex
  align-items: center
  justify-content: space-between

.follow-social
  fill: $lightgray-700

.follow-social:hover
  fill: $primary

.follow-link
  width: 32px
  height: 32px

.follow-link:not(:last-child)
  margin-right: 24px
