.steps-title
  color: $darkgray
  font-family: $ubuntu
  font-size: 46px
  font-style: normal
  font-weight: 700
  line-height: 130%
  margin-bottom: 60px
  text-align: left

.steps-item
  display: flex
  justify-content: space-between
  text-align: left
  margin-bottom: 120px

.step-item
  position: relative
  cursor: pointer

  &-img
    margin-bottom: 16px
    fill: $lightgray-400

  &:hover &-img
    fill: $primary
    filter: brightness(1.5) saturate(2)
    transition: fill 0.3s ease

  &::before
    content: ""
    position: absolute
    top: -40px
    left: -30px
    width: 116px
    height: 116px
    border-radius: 50%
    background-image: url('../img/bg-circles.png')
    background-size: cover
    z-index: -1
    opacity: 0
    transition: opacity 0.3s ease

  &:hover::before
    opacity: 1

.line
  position: relative
  top: -30px
  right: -23px

.step-item-title
  color: $darkgray
  font-family: $ubuntu
  font-size: 20px
  font-style: normal
  font-weight: 700
  line-height: 150%
  margin-bottom: 8px

.step-item-text
  width: 285px
  color: $lightgray-700
  font-family: $ubuntu
  font-size: 16px
  font-style: normal
  font-weight: 400
  line-height: 160%
