.work-portfolio
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr))
  gap: 30px
  padding: 215px 0 186px

.load-more
  position: absolute
  bottom: 100px
  right: 50%

.load-more-link
  text-decoration: none
  display: flex
  align-items: center
  color: $gray-800
  font-family: $ubuntu
  font-size: 16px
  font-style: normal
  font-weight: 700
  line-height: 160%

.load-more-img
  margin-right: 16px

.work__testimonials
  padding-top: 80px
